.block-portal-calendar .content ul {
  display: flex;
  padding: 0;
}

.block-portal-calendar .content li {
  list-style: none;
  min-width: 2em;
  min-height: 2em;
  width: 15%;
  text-align: center;
  font-size: 16px;
}

.block-portal-calendar .content li[title] {
  position: relative;
  cursor: pointer;
}

.block-portal-calendar .content li[title] span.day-circle {
  border-radius: 18px;
  position: absolute;
  width: 2em;
  height: 2em;
  top: -0.3em;
  left: 0.1em;
  background-color: gray;
}
.block-portal-calendar .content li[title] span.day-text {
  z-index: 2;
  position: relative;
}

.block-portal-calendar .content li[title] span.fun {
  background-color: green;
}
.block-portal-calendar .content li[title] span.lecture {
  background-color: yellow;
}

.block-portal-calendar .content ul.week-days li {
  font-weight: bold;
  font-size: 17px;
  color: #cfcfcf;
}

.block-portal-calendar .content ul.nav li.current {
  flex-grow: 8;
  text-align: center;
}
.block-portal-calendar .content ul.nav li.prev,
.block-portal-calendar .content ul.nav li.next {
  cursor: pointer;
  flex-grow: 1;
}
.block-portal-calendar .content ul.nav li.prev {
  text-align: left;
}
.block-portal-calendar .content ul.nav li.next {
  text-align: right;
}
