<ul class="nav"> 
  <li class="prev"> < </li>
  <li class="current"> </li>
  <li class="next"> > </li>
  </ul>
<ul class="week-days">
  <li> S </li>
  <li> M </li>
  <li> T </li>
  <li> W </li>
  <li> T </li>
  <li> F </li>
  <li> S </li>
  </ul>
<div id="portal-calendar-block"></div>

{{ attach_library('portal_calendar/calendar_block') }}

{% verbatim %}
<script type="text/mustache" id="calendar-week">
  {{#weeks}}
  <ul>
    {{#days}}
    <li
      {{#name}}
        title="{{ name }}"
        data-day-iter="{{day_iter}}"
      {{/name}}
    > 
      {{#tag}}
        <span class="day-circle {{ tag }}"></span>
        <span class="day-text"> {{ day }} </span>
      {{/tag}}
      {{^tag}}
        {{ day }} 
      {{/tag}}
    </li>
    {{/days}}
    </ul>
  {{/weeks}}
</script>
{% endverbatim %}
{{ attach_library('core/drupal.dialog') }}
